* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #E1E5E8;
}

body {
  overflow-x: hidden;
}


h1 {
font-family: 'Bebas Neue', sans-serif;
letter-spacing: .1em;

}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  letter-spacing: .05em;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #1A1D9E;
}

p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .02em;
}


/* button */

.toggle-btn {
  position: absolute;
  left: 50%;
  bottom: 5%; 
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3; 
}

.button a,
.button {
    display: inline-block; 
    padding: 0.75em 1.5em; 
    font-size: 1rem; 
    color: white;
    background-color: #fe0000;
    border: 1px solid white;
    border-radius: 5px; 
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    text-align: center;
}

.button:hover {
    background-color: #1A1D9E; 
    transform: translateY(-2px); 
}

.button:active {
    transform: translateY(0); 
}

.sct-btn {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 1em;
}

.sct-btn .link a {
  position: relative; 
  color: #1A1D9E; 
  text-decoration: none; 
  transition: color 0.3s ease; 
  font-size: 1.125rem; 
}

.sct-btn .link a:hover {
  color: #fe0000;
}

.sct-btn .link a::after {
  content: '';
  position: absolute;
  left: 0; 
  bottom: -5px; 
  height: 3px; 
  width: 100%; 
  background: #fe0000; 
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}

.sct-btn .link a:hover::after {
  transform: scaleX(1); 
}

.back-btn {
  padding: .5em  0 1em;
}
/* links */

.link a {
    position: relative; 
    color: #1A1D9E; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.link a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -5px; 
    height: 3px; 
    width: 100%; 
    background: #fe0000; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.link a:hover::after {
    transform: scaleX(1); 
}

.link a:hover,
.link a:focus {
 color: #fe0000;
}


/* navigation */
nav {
  position: fixed;
  width: 100%;
  padding: .5em 2em;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #fe0000;
  border-bottom: 0.08em solid black;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin: 0 1em;
}

.nav-links li {
  margin: 0 1em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

nav ul li {
  list-style-type: none;
  padding: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

nav ul li :hover {
 text-decoration: underline;
}

.logo-container {
  max-width: 12vw;
}

.logo-container img {
  width: 100%;
  height: auto;
}

nav img {
  height: 100%;
  width: auto;
}

.search-container {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  flex: 1;
}

.search-container input {
  width: auto; 
  max-width: 250px; 
  flex: 1; 
  border-radius: 5px;
  padding: 0.5em;
}

.search-container input::placeholder {
  font-size: 1rem;
}

.menu-toggle {
  cursor: pointer;
  display: none; 
  align-items: center; 
  padding: .5em; 
  border-radius: 5px; 
  background-color: transparent;
}

.menu-toggle img  {
  width: 5vw; 
  height: auto; 
}

/* hero-section */
.blog-hero-section {
  max-width: 100%;
}

.hero-section {
  height: auto;
  width: 100%;
}

.hero-section img {
  max-width: 100%;
}
.hero-section {
  padding-top: 3%;
  display: flex;
}

.hero-section img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  object-position: center top;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 80%;
  margin: 0 auto;
}

.grid2 {
  padding: 5em 0;
}

.grid2-section1 {
  width: 100%;
}

.grid2-section1 h1 {
  color: black;
  font-size: 4rem;  
}

.hero-intro p {
  font-size: 1.5rem;
  padding: .5em 0 0;
}

.hero-join p {
  font-size: 1.2rem;
}
.hero-join {
  padding: 1em 0 .5em;
}

.grid2-section2 {
  max-width: 100%;
}

.grid2-section2 img {
  max-width: 100%;
  border-radius: 1em;
}

.categories,
.feature-article {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.feature-article-grid {
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5em;
}

.categories-grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 2em 2em;
}

.categories-grid,
.feature-article-grid {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
}

.categories-title,
.feature-title {
  padding: 6em 0 3em;
  margin: 0 auto;
}

.categories-box,
.feature-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.categories-box img,
.feature-box img {
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  border-radius: .5em;
}

.feature-box-text a h3 {
  padding: 1em .5em 0;
  font-size: 1rem;
  font-weight: 700;
  color: #1A1D9E;
}

.feature-box-text p {
  font-size: .9rem;
  padding: .5em .5em 5em;
}

.categories {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 6em 0;
  margin: 0 auto;
  width: 80%;
}

.categories-box {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.categories-box:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

.categories-box h3 {
    font-weight: 700; /* Bold */
    font-size: 1.25rem; /* Larger size */
}

.article-color1,
.box-color1 {
  background-color: #d8d9c7;
}

.article-color2,
.box-color2 {
  background-color: #B2C9E2;
}

.article-color3,
.box-color3 {
  background-color: #C4D6B6 ;
}

.category-buttons2,
.category-buttons1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 1.5em;
}

.category-buttons2 a,
.category-buttons1 a {
  margin: 0 auto;
}

.category-buttons2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 1em;
}

.categories-buttons h2 {
  padding: .5em 0 .5em;
  text-align: center;
}

.space {
  height: 5em;
}

.category-box-text {
  padding: 1em 1em 2em;

}

.category-box-text h3 {
  font-weight: 700;
  color: #1A1D9E;
  text-align: center;
}

.category-box-text h3 {
  font-size: 1rem;
}

.category-box-text p,
.feature-box-text p {
  text-align: left;
  padding-top: 1em;
}

/* article list*/

.quote-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 70%;
  padding: 2.5em;
  margin: 0 auto;
}

.quotation-l {
  display: flex;
  text-align: right;
  justify-content: right;
  align-items:first baseline;
  padding-right: 1em;
}

.quotation-r img,
.quotation-l img {
  width: 3vw;
}

.quotation-r {
  display: flex;
  text-align: left;
  align-items:last baseline; 
  padding-left: 1em;
}

.quote {
  background-color: #d8d9c7;
  border-radius: 3em;
}

.quote p {
  font-size: 1.5rem;
  padding: 1em 2em;
}

.article-page,
.article-list {
  width: 75%;
  margin: 0 auto;
  border-radius: 3em;
  padding: 2em 0;
}

.article-list-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 60%;
  margin: 2.5em auto;
  border-radius: 2em;
}

.box1 {
  text-align: right;
  padding: 2em 2em 4em;
}


.box2 {
  padding: 2em 2em 4em;
}

.box1 h2,
.box2 h3 {
  padding: .75em 0 .75em;
}

/* article page */

.article {
  padding: 3em;
}
.article-page {
  padding: 2em 2em 4em;
}

.article-title {
  padding-bottom: 2em 0;
}

.article-text {
  padding: 4em 0 2em;
  line-height: 1.4;
}
.article-text p {
  padding: .5em 0;
  line-height: 1.6;
}

.article-text u  {
  text-decoration: none;
  list-style-type: disc;
}

.article-text h3 {
  padding: 2% 0 0;
}

.key-moments {
  width: 95%;
  margin: 0 auto;
  padding: .5em 0 0;
}

.suggested-reading {
  padding: 1em 4em;
}

.suggested-reading p,
.suggested-reading ul li {
  padding: .4em;
}

.suggested-reading ul li::marker {
  width: 50px;
}

/* join section */

.bottom-section {
  padding-top: 6em;
}
.join-bottom {
  padding-left: 2.5em;
}

.btn4 a {
  width: 12em;
}
.join h4 {
  padding: 0.5em 0;
  background-color: transparent;
  text-decoration: none;
  color: #1A1D9E; /* Deep Electric Blue */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.input-text {
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.input-text input {
  flex: 1; 
  padding: 0.5em; 
  height: 3em; 
  border-radius: 0.25em; 
  border: 1px solid #B0B0B0; 
}

.btn2 {
  height: 2.5em; 
  margin-left: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.25em; 
}

.join-section {
  width: 100vw;
  background-image: url(/img/join-img.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken; 
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.join-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 6em;
  margin: 0 auto;
  max-width: 80%;
  background-color: translucent;
}

.join-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: auto 0;
}

.join-text p,
.join-text h2 {
color: white;
margin: 0;
}

.join-text p {
  font-size: 1.5rem;
}
.bottom-nav h5,
.join-text-bottom p {
  color: #1A1D9E;
  margin: 0;
}

/* submit content form */

.form-inputs {
  display: flex;
  flex-direction: column;
  padding: .5em 0;
}

.form-submission h2 {
  text-align: center;
  padding-bottom: 1em;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

.form-buttons a {
  text-align: center;
}

#article-form {
    border-radius: 1.5em;
    width: 100%;
}

#article-form  label {
  font-size: 1rem;
  color: black;
}

#article-form input,
#article-form  label {
  padding: .5em 0;  
}

.form-question {
  padding: 1em 0 .5em;  
}

.account-form a {
  text-align: center;
}

.yes-newsletter {
  display: flex;
}

.yes-newsletter {
  padding: .5em;
}

.yes-newsletter input {
  width: 2.5%;
  margin-left: 1em;
}
/* bottom navigation */

.bottom-nav ul li a:hover,
.bottom-nav ul li a:focus,
.footer-col ul li a:hover,
.footer-col ul li a:focus {
    color: #fe0000; 
}

.bottom-nav ul li a:hover,
.bottom-nav ul li a:focus,
.footer-col ul li a:hover,
.footer-col ul li a:focus {
    transform: scaleX(1);
}

footer {
  width: 100%;
  border-top: 0.0625em solid #1A1D9E; /* Lighter Cyan for a subtle border */
  padding-top: 6em;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  max-width: 100vw;
  max-height: 20vh;
}

.footer-content {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr; 
  padding: 3em 10em 10em;
  border-bottom: 0.0625em solid #1A1D9E;
  justify-content: center;
  margin: 0 auto;
  gap: 3em;
  width: 100%;
}

.bottom-logo {
  display: flex;
  align-items: center; 
  justify-content: left;
}

.bottom-logo img {
  text-align: left;
}

.bottom-footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

.social-media {
  max-width: 100%;
}

.social-media,
.bottom-nav {
  display: flex;
  padding: 2em 0;
}

.bottom-nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 3em;
}

.footer-col ul li,
.bottom-nav ul li {
  list-style: none;
}

.bottom-nav ul li a,
.bottom-nav h4 {
  padding: 0 0.5em;
}

.footer-col-text {
  padding: 0;
  text-align: left;
}

.join-bottom {
  padding-left: 2.5em;
}

/* Links in Footer */
.join h5,
.join h4,
.footer-col h4,
.footer-col h3,
.bottom-nav ul li a,
.footer-col ul li a {
  display: inline-block; /* Restricts hover effect to the length of the link */
  padding: 0.5em 0;
  background-color: transparent;
  text-decoration: none;
  color: #1A1D9E; /* Deep Electric Blue */
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Social Media Icon Styling */
.social-media img {
  width: 3.125em;
  padding: 0 0.5em;
  object-fit: cover;
}

/* learn more */

.suggested-reading-title {
  display:flex;
  padding: 0 .5em;
}

.suggested-reading-list {
  display: flex;
  justify-content: left;
  padding: 0;
}

.suggested-reading-list ul ,
  .learn-more-ol ol {
    padding: 0 2em;
    line-height: 1.5;
  }

/* Upload page */
#upload-page {
  padding: 6em 0;
  margin: 0 auto;
}
form {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #e1e5e8 ;
  width: 60%;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  background: rgba(242, 247, 250, 0.8);
  color: #1A1D9E;
}

form h1 {
  width: 100%;
  text-align: center;
}

.form-sect label {
  font-size: 1.5rem;
}

.form-sect {
  padding: 1.5em 0 0;
}

.form-sect input {
  padding: .5em;
  width: 100%;
  border-radius: .2em;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.descr {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: .2em;
}

select,
input {
  background-color: #FFFFFF;
  border-color: #B0B0B0;
  padding: .4em;
  color: #1A1D9E;
}

.radio-group input {
  width: 1em;
  margin-right: .5em; 
}

.radio-group {
  display: flex;
  flex-direction: row;
}

.first-radio {
  padding-top: .5em;
}

.comments textarea,
input::placeholder {
  color: #6B6B6B;
  font-size: 1rem;
  padding: .5em .5em;
  color: #1A1D9E;
}

/* Responsive Styles */
@media (max-width: 768px) {

  /* nav, footer, hamburger, join responsive styling*/

    .hamburger {
        display: flex; 
    }
    
    .nav-menu {
        display: none; 
        flex-direction: column; 
        background-color: #333; 
        position: absolute; 
        top: 60px; 
        right: 0; 
        width: 100%; 
    }

    .nav-menu.active {
        display: flex; 
    }
    
    h1  {
      font-size: 2rem;
    }
     
    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }
   
    .link a {
        display: block; 
        margin-bottom: 1em; 
    }

    footer {
      padding-top: 2em;
    }
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1em 0;
    }

    .footer-col {
      width: 100%;
      padding: 1em 0;
    }

    .footer-col h4 {
      font-size: 1.2rem;
      margin-bottom: 0.5em;
    }
    .input-text input::placeholder {
      padding: 0;
    }

    .footer-col ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .footer-col ul li {
      margin: 0.5em 0; 
    }

    .footer-col ul li a {
      text-decoration: none;
      color: #1A1D9E; 
      font-size: 1rem; 
    }

    .logo-container {
      max-width: 20vw;
    }

    .menu-toggle {
      display: flex;
    } 
    
    .nav-menu {
      display: none; 
      flex-direction: column; 
      background-color: #1A1D9E ; 
      position: absolute; 
      top: 60px;
      right: 0;
      width: 100%; 
    }

    .nav-menu li a {
      color: #F2F7FA  ;
    }

    .nav-menu.active {
       display: flex;
    }

    .join-container {
      max-width: 90%;
      padding: 2em 1em; 
      margin: 0 auto; 
      height: auto; 
    }

    nav {
      flex-direction: row; 
      align-items: flex-start; 
      padding: .5em; 
      flex-wrap: wrap;
      width: 100%;
    }

      nav ul li {
      padding: 0;
    }
    
    .nav-links li a {
      font-size: .5rem;
      padding: 0;
    }

    .nav-links {
      display: none; 
      flex-direction: column;
      background-color: #1A1D9E; 
      position: absolute; 
      top: 60px;
      right: 0; 
      width: 100%; 
      z-index: 9999; 
      align-items: center;
    }

    .nav-links.active {
      display: flex; 
    }

    .search-container {
      justify-content: flex-start;
      padding-right: 1em; 
    }

    .search-container input {
      width: 60%; 
    }

    .footer-content {
      padding: .5em 0;
      max-width: 100vw;
      text-align: left;
    }

    .join-bottom {
      padding: 0;
      width: auto;
    }

    .footer-col {
      margin-bottom: 2em;
    }

    .sct-btn {
      padding-top: 1em;
      align-items: center;
      margin: 0 auto;
    }

    .link {
      padding: 3em 0 0;
      align-items: center;
      width: 100%;
      font-size: 1em;
    }

    .icon img{
      max-width: 15vw;
    }

    .logo-container {
      padding: 0;
      margin-left: 0;
    }

    .join-section {
      max-width: 100vw;
      height: auto;
    }

    .join-text p {
      font-size: 1rem;
    }

    .thankyou {
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: left;
      align-items: center;
    }
    .thankyou h2 {
      width: 100%;
    }
    .footer-col {
      padding: 0;
      margin: 0;
      max-width: 50vw;
    }
    .footer-col,
    .footer-logo {
      margin: 0 auto;
    }

    .input-text {
      flex-direction: column;
      padding: 1em;
    }

    .bottom-nav ul {
      flex-direction: row;
      max-width: 90%;
    }

    .social-media {
      flex-direction: column;
    }
    .bottom-nav {
      flex-direction: column; 
      align-items: stretch; 
    }

    .bottom-nav ul li {
      margin: 0.5em 0;
    }

    .bottom-nav ul li a {
      padding: 1em;
      font-size: 1.2em; 
    }

  /* hero section responsive styling*/
    html, body {
      max-width: 100vw;
    }

    .hero-section {
      height: 30vh;
      max-width: 100vw;
    }

    .hero-section img {
      width: 100%;
      object-fit: cover;
      object-position: center bottom;
    }

    .grid2 {
      display: flex;
      flex-direction: column;
      max-width: 90%;
    }

    .grid2 {
      padding: 2em 0;
    }

    .grid2-section1 {
      max-width: 90%;
    }

    .grid2-section1 h1 {
      font-size: 1.5rem;  
    }

    .grid2-section2 {
      padding-top: 2em;
    }

    .join-container {
      margin: 0 auto;
    }
    
    .button {
      width: auto;
    }

    .categories-title,
    .feature-title {
      padding: 2em 0 1.5em;
      margin: 0 auto;
    }

    .feature-article-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }

    .categories-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 2em 2em;
    }

    .feature-box-text {
      padding: 1em 0;
    }

    .feature-box-text p {
      padding: 0 0 .5em;
    }
    .feature-box-text a h3 {
      padding: .5em .2em 0;
    }

    .categories {
      padding: 2em 00;
    }

    .categories-box {
      margin-bottom: 1em;
    }

    .category-buttons2,
    .category-buttons1 {
      max-width: 80%;
      flex-direction: column;
      gap: .5em;
      padding-left: 0;

    }

    .category-buttons2 a,
    .category-buttons1 a {
      width: 10em;
      text-align: center;
    }

    .category-buttons2,
    .category-box-text {
      padding: .5em 0 1em;
      max-width: 100%;
    }

    .category-buttons2,
    .category-box-text h3 {
      font-size: .625rem;
    }

    .category-buttons1 a:hover,
    .category-buttons2 a:hover {
        animation: wobble 0.6s ease forwards;
    }

    .grid-btn  {
      display: flex;
      flex-direction: column;
      gap: .5em;
    }

    /* categories */
    .categories-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em 1em;
    }

    /* article categories */

    .quote-grid {
      display: grid;
      grid-template-columns: .5fr 3fr .5fr;
      width: 100%;
      padding: 1.5em;
      margin: 0 auto;
    }

    .quote {
      width: 100%;
    }

    .quote {
      background-color: #d8d9c7;
      border-radius: 1.5em;
    }

    .quote p {
      font-size: 1.2rem;
      padding: .5em 1em;
      width: 100%;
    }

    .article {
      max-width: 90%;
      padding: 2em .5em;
       margin: 0 auto;
    }
    
    .article-page,
    .article-list {
      border-radius: 1.5em;
    }

    .article-list {
      padding: .5em 0;
    }

    .article-page {
      width: 100%;   
      padding: 1em; 
    }

    .article-list-grid {
      display: grid;
      grid-template-columns: .5fr 3fr;
      width: 90%;
      margin: 1.5em auto;
      border-radius: 2em;
    }

    .box1 {
      text-align: right;
      padding: 1em 1em 2em;
    }


    .box2 {
      padding: 1em 1em 2em;
    }

    .box1 h2,
    .box2 h3 {
      padding: .75em 0 .75em;
    }

    .article-title {
      padding-bottom: 1em 0;
    }

    .article-text {
      padding: 2em 0 1em;
      line-height: 1.4;
    }
    .article-text p {
      padding: .3em 0;
      line-height: 1.6;
    }

    .article-text ul  {
      text-decoration: none;
      list-style-type: disc;
    }

    .article-text h3 {
      padding: 2% 0 0;
    }

    form {
      width: 90%;
      border-radius: 1em;
    }
}

/* category button affect */

@keyframes wobble {
    0% { transform: translate(0); }
    15% { transform: translate(-5px, 0); }
    30% { transform: translate(5px, 0); }
    45% { transform: translate(-5px, 0); }
    60% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0); }
}

.category-buttons1 a:hover,
.category-buttons2 a:hover {
    animation: wobble 0.6s ease forwards;
}




      
